# **Video Game Sales Analysis**

## Objectives

* Load raw data from the Video Game Sales Dataset obtained from Kaggle.
* Perform initial data exploration by inspecting the dataset’s structure, summary statistics, and missing values.
* Clean and preprocess the data by standardizing column names, converting data types, handling missing values, and removing duplicates.
* Save the cleaned dataset for further analysis and visualization in subsequent steps of the project.

## Inputs

* The raw dataset file: `vgsales.csv` (Video Game Sales Dataset from Kaggle)
* Data attributes including game sales figures, genres, platforms, and release years.

## Outputs

* A cleaned dataset saved as `vgsales_cleaned.csv` (optional file export)
* A comprehensive Jupyter Notebook containing the code for data loading, cleaning, and preliminary exploratory data analysis (EDA)
* Summary reports on the data quality and initial insights printed within the notebook.

## Additional Comments

* This notebook serves as the initial step in a larger project focused on analyzing video game sales, ratings, and genre performance over time.
* The cleaning steps are designed to prepare the data for more advanced visualizations and dashboard development using tools like Streamlit and Plotly.
* Future iterations may incorporate additional cleaning techniques, feature engineering, and deeper exploratory analysis to support the project’s hypotheses and business objectives.

---

# Working directory


* We access the current directory with os.getcwd()

In [2]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\babat\\Downloads\\vs code\\Video-Game-Sales-1\\jupyter_notebooks'


* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [3]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [4]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\babat\\Downloads\\vs code\\Video-Game-Sales-1'

# Section 1

Section 1 Import necessary libraries, Load and Clean Data

Setting up & Importing Python packages that we will be using in this project to carry out the analysis. For example Numpy to compute numerical operations and handle arrays, Pandas for data manipulation and analysis, Matplotlib, Seaborn and Plotly to create different data visualisations

In [5]:
# Import necessary libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
import plotly.express as px

Data Extraction

Loading the CSV dataset containing the data collected previously and extracting it into dataframe using pd.read_csv() function.

In [6]:
# Load the CSV file
file_path = r'C:\Users\babat\Downloads\vs code\Video-Game-Sales-1\Data\vgsales.csv'  
df = pd.read_csv(file_path)

Next checking the general information regarding the data such as column names, datatypes of columns, number of entries and the memory space used through .info() method.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

Reviewing top 5 entries in dataset to get a general overview of the dataset with .head() method

In [8]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Checking for missing values

In [9]:
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

Data Cleaning and Transformation

In [10]:
# Handle missing values 
# Drop rows with missing 'Year' or 'Publisher' as they’re critical for analysis
df_cleaned = df.dropna(subset=['Year', 'Publisher'])

# Convert 'Year' to integer (some entries are floats)
df_cleaned['Year'] = df_cleaned['Year'].astype(int)

# Check for duplicates
print("\nDuplicate Rows:", df_cleaned.duplicated().sum())

# Verify cleaning
print("\nAfter Cleaning - Missing Values:")
print(df_cleaned.isnull().sum())
print("\nCleaned Data Info:")
print(df_cleaned.info())

Duplicate Rows: 0

After Cleaning - Missing Values:
Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

Cleaned Data Info:
<class 'pandas.core.frame.DataFrame'>
Index: 16291 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16291 non-null  int64
 1   Name          16291 non-null  object
 2   Platform      16291 non-null  object
 3   Year          16291 non-null  int32
 4   Genre         16291 non-null  object
 5   Publisher     16291 non-null  object
 6   NA_Sales      16291 non-null  float64
 7   EU_Sales      16291 non-null  float64
 8   JP_Sales      16291 non-null  float64
 9   Other_Sales   16291 non-null  float64
 10  Global_Sales  16291 non-null  float64
dtypes: float64(5), int32(1), int64(1), object(4)
memory usage: 1.4+ MB
None

C:\Users\babat\AppData\Local\Temp\ipykernel_23100\712322736.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Year'] = df_cleaned['Year'].astype(int)

Data Validation

In [11]:
# Check for illogical values (e.g., negative sales or future years)
print("\nRows with Negative Sales:")
print(df_cleaned[(df_cleaned['Global_Sales'] < 0) | 
                (df_cleaned['NA_Sales'] < 0) | 
                (df_cleaned['EU_Sales'] < 0) | 
                (df_cleaned['JP_Sales'] < 0) | 
                (df_cleaned['Other_Sales'] < 0)])

# Filter out games beyond 2025 (current date: March 16, 2025)
df_cleaned = df_cleaned[df_cleaned['Year'] <= 2025]

# Display unique genres and platforms for sanity check
print("\nUnique Genres:", df_cleaned['Genre'].unique())
print("\nUnique Platforms:", df_cleaned['Platform'].unique())

Rows with Negative Sales:
Empty DataFrame
Columns: [Rank, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

Unique Genres: ['Sports' 'Platform' 'Racing' 'Role-Playing' 'Puzzle' 'Misc' 'Shooter'
 'Simulation' 'Action' 'Fighting' 'Adventure' 'Strategy']

Unique Platforms: ['Wii' 'NES' 'GB' 'DS' 'X360' 'PS3' 'PS2' 'SNES' 'GBA' '3DS' 'PS4' 'N64'
 'PS' 'XB' 'PC' '2600' 'PSP' 'XOne' 'GC' 'WiiU' 'GEN' 'DC' 'PSV' 'SAT'
 'SCD' 'WS' 'NG' 'TG16' '3DO' 'GG' 'PCFX']

Save Cleaned Data

In [12]:
# Save the cleaned data to a new CSV file
output_file_path = r'C:\Users\babat\Downloads\vs code\Video-Game-Sales-1\Data\vgsales_cleaned.csv'  
df_cleaned.to_csv(output_file_path, index=False)

print(f"Cleaned data saved to {output_file_path}")

Cleaned data saved to C:\Users\babat\Downloads\vs code\Video-Game-Sales-1\Data\vgsales_cleaned.csv

---